h1{
    background-color: blue;
}
body{
    background-color:bisque;
    color:black;
    text-align: justify;
}
#one{
    background-color: purple;
    border: 20px;
}
form{
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 300px;
}
.image-container{ 
    display: flex;
    justify-content: center;
    position: relative;
    align-items: center;
    width:300px;
    height:200px;
    margin: auto;
}

.animated-image{
    position: absolute;
    height:100%;
    width:100%;
    border-radius: 8px;
    transition: opacity 2s ease-in-out;
}

.animated-image:nth-child(1)
{
    animation: fade 5s infinite alternate;
}

.animated-image:nth-child(2)
{
    animation: fade 5s infinite alternate-reverse; 
}

@keyframes fade {
    0%{ opacity: 1;}
    100%{ opacity: 0;}
}

ol{
    background-color: maroon;
}

img{
    height: 200px;
    width:auto;
}

p{
    background-color: pink;
    color: black;
}

table{
    width:80%;
    margin:auto;
    border-collapse: collapse;
}

form{
    margin: auto;
    color:black;
}

.course-info{
    border: 2px solid #4CAF50;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.824);
    padding: 20px;
    border-radius: 10px;
    margin: 20px 0;
}

input[type="submit"]:hover {
    background-color: greenyellow;
    color:black;
}

input[type="reset"]:hover {
    background-color: greenyellow;
    color:black;
}

input{
    background-color: pink;
}

.footer-div
{
    text-align: center;
    background-color: blue;
}

footer{
    text-align: center;
    background-color: blue;
}